*.dart linguist-detectable=true  
*.cpp linguist-detectable=false  
*.CMake linguist-detectable=false  
*.kts linguist-detectable=false  
*.swift linguist-detectable=false  
*.xml linguist-detectable=false 

